# Production environment variables
DB_URL=jdbc:mysql://HOST:3306/guardaVidas?useSSL=true&serverTimezone=UTC
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
ARQUIVAMENTO_PATH=/tmp/arquivamento
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
